<div class="container">
  <h1 class="todo-title">ToDo List</h1>

  <!-- Ekleme bölümü -->
  <div class="add-task">
    <input type="text" placeholder="Başlık" [(ngModel)]="newItemTitle" />
    <input type="text" placeholder="Açıklama" [(ngModel)]="newItemDescription" />
    <button (click)="onItemAdd()">Add</button>
  </div>

  <!-- Liste  -->
  <ul class="task-list">
    <li *ngFor="let item of todoItems">
      <!-- Düzenleme modU -->
      <div *ngIf="editingItemId === item.id; else showText">
        <input [(ngModel)]="editTitle" placeholder="Başlık" />
        <input [(ngModel)]="editDescription" placeholder="Açıklama" />
        <button (click)="saveEdit(item)">Save</button>
        <button (click)="cancelEdit()">Cancel</button>
      </div>

      <!-- Normal gösterim -->
      <ng-template #showText>
        <input type="checkbox" [checked]="item.isCompleted" (change)="toggleCompleted(item)" />
        <div class="text-container">
          <strong>{{ item.title }}</strong>
          <span class="description">{{ item.description }}</span>
        </div>
        <button (click)="startEdit(item)">Update</button>
        <button (click)="onItemDelete(item)">❌</button>
      </ng-template>

    </li>
  </ul>
</div>
