.container {
  max-width: 400px;
  margin: auto;

  .todo-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

  .text-container {
    display: flex;
    flex-direction: column; 
    margin-left: 8px; 
  }
  
  .add-task {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;

    input {
      flex: 1;
      padding: 6px 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 6px 9px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background-color: cornflowerblue;
      color: white;
    }
  }
}

.task-list {
  width: 100%;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 4px 8px;
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 4px;

    button {
      margin-left: 10px;
      padding: 4px 6px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:first-of-type {
        margin-left: auto;
        background-color: lightgreen;
      }

      &:last-of-type {
        background-color: lightcoral;
      }
    }
  }
}
